body {
    background-image: url(img/pro3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0; */
}

.lg-neut {
    width: 250px;
    height: auto;
}

.navq-menu {
    padding-left: 40px;
}

.navq-item {
    color: aqua !important;
    font-size: 20px;

}

.navq-item:hover {
    color: yellow !important;
    transition: 1s;
}

.navq-logo {
    background: #374756;
    /* padding: 16px 24px; */
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 10px rgba(163, 221, 5, 0.01);
}

.navq-logo::after {
    position: absolute;
    content: "";
    /* top: 15px; */
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
    background-size: 200% 200%;
    -webkit-animation: animateGlow 1.25s linear infinite;
    animation: animateGlow 1.25s linear infinite;
}

@-webkit-keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

@media (min-width :992px) {
    .navq {
        background-color: #374756;
    }

    .navq-menu {
        padding-left: 40px;
    }

    .navq-item {
        color: aqua !important;
        font-size: 20px;

    }

    .navq-item:hover {
        color: yellow !important;
        transition: 1s;
    }

    .navq-logo {
        background: #374756;
        /* padding: 16px 24px; */
        position: relative;
        border-radius: 8px;
        box-shadow: 0 0 0 10px rgba(163, 221, 5, 0.01);
    }

    .navq-logo::after {
        position: absolute;
        content: "";
        /* top: 15px; */
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(15px);
        background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
        background-size: 200% 200%;
        -webkit-animation: animateGlow 1.25s linear infinite;
        animation: animateGlow 1.25s linear infinite;
    }

    @-webkit-keyframes animateGlow {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 200% 50%;
        }
    }

    @keyframes animateGlow {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 200% 50%;
        }
    }
}

/* SECTION2 */

.sec-2 {
    background-image: url(../img/pro4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
    height: 1000px;
    /* height: auto; */
    /* margin-right: 0; */
}

.sec-2 .sec-2-full {
    padding-top: 17rem;
    width: 75%;
    margin-left: auto;
}

.sec-2 .sec-2-full .h1-full {
    text-align: right;
    color: aqua;
    font-size: 3rem;
}

.sec-2 .sec-2-the {
    /* border: burlywood solid 1px; */
    width: 50%;
    margin-left: auto;
    margin-right: 20px;
}

.sec-2 .sec-2-the .h3-the {
    text-align: right;
    color: transparent;
    font-size: 3rem;
}

@media (min-width :992px) {
    .sec-2 .sec-2-full .h1-full {
        text-align: right;
        color: aqua;
        font-size: 6rem;
    }

    .sec-2 .sec-2-the .h3-the {
        text-align: right;
        color: aqua;
        font-size: 3rem;
    }
}

/* section 3 */
.sec-3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}



.juneut {
    text-align: center;
    color: #0ff;
}

.kete h3 {
    color: #0ff;
}

.kete h4 {
    font-size: 15px;
    color: #0ff;
}

/* section 4 */
.sec-4 {
    background: #211E27;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    background-color: transparent !important;
}

.container .card .face {
    width: 450px;
    height: 200px;
    transition: .4s;

}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
        /* inset 0 0 60px whitesmoke, */
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        /* 0 0 50px #fff, */
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content {
    opacity: 1;

}

.container .card .face.face1 .content i {
    font-size: 3em;
    color: rgb(253, 0, 0);
    display: inline-block;

}

.container .card .face.face1 .content h3 {
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.container .card .face.face1 .content a {
    transition: .5s;
}

.container .card .face.face2 {
    position: relative;
    /* background: whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content .kal-html,
a {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    color: orange;
}

.container .card .face.face2 .content .kal-css,
a {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    color: cyan;
}

.container .card .face.face2 .content .kal-js,
a {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    color: yellow;
}

.container .card .face.face2 .content .kal-php,
a {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    color: purple;
}

.container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sec3-lg {
    width: 150px;
}

/* footer */
.bg-grey {
    background: #374756;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: grey;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {

    text-decoration: none;

}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}